/* CSS for Slideshow */

.slideshow-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust as needed */
    overflow: hidden;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: .6
    }
}

.full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* This ensures the image covers the entire container */
    filter: blur(5px); /* Adjust the blur amount as needed */
}

/* CSS for Login Container */

.login-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Rest of your existing CSS styles for the login form */
body {
    background: #f6f5f7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    margin: 0;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100 50px;
    width: 80%;
    max-width: 400px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

input {
    background-color: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

input[type="submit"] {
    border-radius: 20px;
    border: 1px solid #FF4B2B;
    background-color: #FF4B2B;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
}

input[type="submit"]:active {
    transform: scale(0.95);
}

input[type="submit"]:focus {
    outline: none;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin-top: 15px;
}

.error-message {
    color: red;
    margin-bottom: 15px;
}
