{% extends 'base.html' %}
{% load static %} 

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/ABOUT.css' %}">
<div class="background">
    <div class="container">
        <div class="screen">
            <div class="screen-header">
                <div class="screen-header-left">
                    <div class="screen-header-button close"></div>
                    <div class="screen-header-button maximize"></div>
                    <div class="screen-header-button minimize"></div>
                </div>
                <div class="screen-header-right"></div>
            </div>
            <div class="screen-body">
                <div class="screen-body-item left">
                    <div class="app-title">
                        <span>ABOUT</span>
                        <span>US</span>
                    </div>
                    <div class="app-description">
                        <p>We are a car selling platform dedicated to providing an easy and efficient way for individuals to buy and sell vehicles. Our platform connects buyers and sellers, offering a wide range of cars to suit every need and budget.</p>
                        <p>With a user-friendly interface and robust features, we strive to make the car buying and selling process seamless and hassle-free. Whether you're in the market for a new car or looking to sell your current vehicle, we're here to help you every step of the way.</p>
                    </div>
                </div>
                <div class="screen-body-item right">
                    <div class="app-title">
                        <span>ABOUT</span>
                        <span>US</span>
                    </div>
                    <div class="app-description">
                        <p>We are a car selling platform dedicated to providing an easy and efficient way for individuals to buy and sell vehicles. Our platform connects buyers and sellers, offering a wide range of cars to suit every need and budget.</p>
                        <p>With a user-friendly interface and robust features, we strive to make the car buying and selling process seamless and hassle-free. Whether you're in the market for a new car or looking to sell your current vehicle, we're here to help you every step of the way.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
